
global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode	tcp
  log	global
  option  forwardfor
  option	dontlognull
  option  redispatch
  option  abortonclose
  timeout connect 5000
  timeout client  50000
  timeout server  50000

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend proxy
  bind :8488
  default_backend webservers

backend webservers
  option  tcp-check
  balance leastconn
  
  server s1 158.247.221.32:8488 check
